@font-face {
  font-family: "regular";
  src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "extraLight";
  src: url(/fonts/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: "bold";
  src: url(/fonts/Montserrat-Bold.ttf);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  height: 3700px;
  background-color: white;
  font-family: "regular";
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/*************************Header*********************************/
/*************************Header*********************************/
/*************************Header*********************************/
/*************************Header*********************************/
/*************************Header*********************************/
/*************************Header*********************************/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 999;
  transition: all 0.8s;
}

.header-items {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.header-items .logo h1 {
  font-size: 20px;
  font-family: "bold";
  letter-spacing: 10px;
}
.header-items .logo h1 a {
  text-decoration: none;
  color: #000;
}
.header-items .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-items .nav-bar .menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.header-items .nav-bar .menu-list li a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
.header-items .nav-bar .menu-list .technology {
  color: gray;
}
.header-items .nav-bar .menu-list .about {
  color: gray;
}
.header-items .nav-bar .menu-list .careers {
  color: gray;
}
.header-items .nav-bar .header-btn {
  cursor: pointer;
}
.header-items .nav-bar .header-btn a {
  color: white;
  background-color: #000;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
}

.modul {
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
  height: 400px;
  bottom: 0;
  z-index: 999;
  visibility: hidden;
  display: flex;
  transition: all 1.5s;
  align-items: center;
  justify-content: space-between;
  transform: translateY(500px);
}
.modul .modul-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  width: 40%;
}
.modul .modul-items h1 {
  font-weight: 300;
  font-size: 18px;
}
.modul .modul-items h3 {
  font-weight: 300;
  font-size: 16px;
}
.modul .modul-items .input-cont {
  display: flex;
}
.modul .modul-items .input-cont input {
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
}
.modul .modul-items .input-cont button {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  transform: translateX(-40px);
}
.modul .icons {
  transform: translateY(-80px) translateX(-100px);
  cursor: pointer;
}
.modul .icons .bi-x-lg {
  font-size: 30px;
  color: white;
}

.open-modul {
  transform: translateY(0);
  visibility: visible;
}

/********************Main****************************/
/********************Main****************************/
/********************Main****************************/
/********************Main****************************/
/********************Main****************************/
/********************Main****************************/
.main {
  height: 800px;
}

.main-text {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  margin-top: 80px;
}

.main-bg {
  position: relative;
  width: 100%;
  z-index: -1;
  transform: translateY(-350px);
}
.main-bg img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-title {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.main-h2 {
  text-align: center;
  width: 50%;
}

/**************************Main-two***********************************/
.main-two {
  margin-top: 50px;
  background-color: #000;
}
.main-two .container .bottom-side {
  z-index: 999;
  display: flex;
  color: white;
}
.main-two .container .bottom-side .left-side {
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-two .container .bottom-side .left-side .left-side-content {
  padding-left: 100px;
  width: 50%;
}
.main-two .container .bottom-side .left-side .left-side-content h2 {
  transform: translateY(-50px);
  font-size: 18px;
}
.main-two .container .bottom-side .left-side .left-side-content h3 {
  width: 81%;
  line-height: 25px;
  font-size: 16px;
}
.main-two .container .bottom-side .right-side {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-two .container .bottom-side .right-side .right-side-content {
  width: 50%;
}
.main-two .container .bottom-side .right-side .right-side-content h2 {
  transform: translateY(-50px);
  width: 100%;
  font-size: 18px;
}
.main-two .container .bottom-side .right-side .right-side-content h3 {
  width: 81%;
  line-height: 25px;
  font-size: 16px;
}

.main-two-inner {
  display: flex;
}
.main-two-inner .left-side {
  width: 50%;
  height: 800px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.main-two-inner .left-side .left-side-items {
  padding-left: 100px;
  width: 50%;
  border-left: 1px solid white;
}
.main-two-inner .left-side .left-side-items h2 {
  font-size: 14px;
}
.main-two-inner .left-side .left-side-items h4 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}
.main-two-inner .right-side {
  width: 50%;
  height: 800px;
  border: 1px solid black;
}
.main-two-inner .right-side .right-side-bg {
  position: relative;
  width: 100%;
}
.main-two-inner .right-side .right-side-bg img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/***********************JS**************************/
.title {
  transform: translateY(100px);
  transition: all 2s;
}

.title.show {
  transition: all 2s;
  transform: translateY(0px);
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.left {
  transform: translateX(-350px);
}

.left.show {
  transition: all 2s ease;
  transform: translateX(0);
}

.right {
  transform: translateX(10px);
  transition: all 2s ease;
}

.right.show {
  transition: all 2s ease;
  transform: translateX(-300px);
}

.header.fixed {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
}

.leftTwo {
  transform: translateX(-350px);
  transition: all 10s;
}

.leftTwo.show {
  transition: all 3s;
  transform: translateX(250px);
}

.active {
  opacity: 0;
}

.active.show {
  opacity: 1;
  transition: all 6s;
}

/***********************JS**************************/
.main-three-content {
  display: flex;
}
.main-three-content .left-side {
  height: 700px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-three-content .left-side .left-side-content {
  border-left: 1px solid black;
  padding-left: 100px;
  width: 50%;
}
.main-three-content .left-side .left-side-content h3 {
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
.main-three-content .left-side .left-side-content h2 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 300;
  color: #000;
}
.main-three-content .right-side {
  height: 700px;
  width: 50%;
}
.main-three-content .right-side .right-side-bg {
  position: relative;
  width: 100%;
}
.main-three-content .right-side .right-side-bg img {
  position: absolute;
  width: 100%;
}

.main-three {
  border-bottom: 1px solid black;
  padding-bottom: 100px;
}
.main-three .container .bottom-side {
  z-index: 999;
  display: flex;
  color: #000;
}
.main-three .container .bottom-side .left-side {
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-three .container .bottom-side .left-side .left-side-content {
  padding-left: 100px;
  width: 50%;
}
.main-three .container .bottom-side .left-side .left-side-content h2 {
  transform: translateY(-50px);
  font-size: 18px;
}
.main-three .container .bottom-side .left-side .left-side-content h3 {
  width: 81%;
  line-height: 25px;
  font-size: 16px;
}
.main-three .container .bottom-side .right-side {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-three .container .bottom-side .right-side .right-side-content {
  width: 50%;
}
.main-three .container .bottom-side .right-side .right-side-content h2 {
  transform: translateY(-50px);
  width: 100%;
  font-size: 18px;
}
.main-three .container .bottom-side .right-side .right-side-content h3 {
  width: 81%;
  line-height: 25px;
  font-size: 16px;
}

/*******************************Footer**************************************/
/*******************************Footer**************************************/
/*******************************Footer**************************************/
/*******************************Footer**************************************/
/*******************************Footer**************************************/
/*******************************Footer**************************************/
/*******************************Footer**************************************/
.footer {
  height: 240px;
  background-color: white;
}

.footer-items {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-items .footer-item h1 {
  font-size: 24px;
}
.footer-items .footer-item p {
  color: black;
  font-size: 18px;
}
.footer-items .footer-item a {
  text-decoration: none;
  color: #000;
}
.footer-items .footer-item .footer-btn {
  padding-top: 25px;
}
.footer-items .footer-item .footer-btn a {
  padding: 10px 15px;
  background-color: #FD6262;
  text-decoration: none;
  color: black;
  border: 1px solid #FD6262;
  border-radius: 5px;
  transition: all 0.3s;
}
.footer-items .footer-item .footer-btn a:hover {
  background-color: transparent;
  border: 1px solid black;
}
.footer-items .footer-item input {
  height: 35px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid red;
  outline: none;
  color: black;
  border-radius: 5px;
}
.footer-items .footer-item .submit-btn {
  margin-top: 50px;
}
.footer-items .footer-item .submit-btn a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 30px;
  transition: all 0.3s;
}
.footer-items .footer-item .submit-btn a:hover {
  background-color: #FD6262;
  border: 1px solid #FD6262;
  color: black;
}
.footer-items .footer-item .last-p {
  width: 200px;
}
.footer-items .footer-item .icons {
  margin-top: -40px;
  padding-top: 35px;
  display: flex;
  gap: 20px;
}
.footer-items .footer-item .icons i {
  font-size: 25px;
}

/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
/*************************************ABOUT*************************************/
.about-main {
  background-color: white;
  height: 700px;
  border-bottom: 1px solid black;
}

.main-content {
  display: flex;
  height: 600px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-content h1 {
  font-size: 64px;
  font-weight: 300;
}
.main-content h3 {
  font-size: 24px;
  width: 49%;
}

/*****************Main-two*******************/
.about-main-two {
  background-color: white;
  border-bottom: 1px solid black;
}

.about-main-two-content {
  display: flex;
}
.about-main-two-content .left-side {
  height: 800px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-main-two-content .left-side .left-side-content {
  border-left: 1px solid black;
  width: 50%;
  padding-left: 100px;
}
.about-main-two-content .left-side .left-side-content h4 {
  font-size: 14px;
}
.about-main-two-content .left-side .left-side-content h3 {
  font-size: 24px;
  font-weight: 300;
  width: 73%;
  line-height: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-main-two-content .left-side .left-side-content p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
}
.about-main-two-content .right-side {
  height: 700px;
  width: 50%;
}
.about-main-two-content .right-side .right-side-bg {
  position: relative;
  width: 100%;
  margin-top: 80px;
}
.about-main-two-content .right-side .right-side-bg img {
  width: 60%;
  transform: translateX(150px);
  border-radius: 20px;
  position: absolute;
}

/*****************Main-three*******************/
.about-main-three {
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

.about-main-three-content {
  display: flex;
  justify-content: center;
  width: 100%;
}
.about-main-three-content .about-three-items {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
  justify-content: center;
  width: 50%;
}
.about-main-three-content .about-three-items h1 {
  color: #E15F09;
  width: 95px;
  font-size: 40px;
  border-bottom: 1px solid black;
}
.about-main-three-content .about-three-items p {
  font-size: 14px;
}
.about-main-three-content .about-three-items h3 {
  font-size: 16px;
  font-weight: 300;
}

/****************FOR*****************/
.about-for-main {
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

.for-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-content .about-for-items {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
  justify-content: center;
  width: 50%;
}
.for-content .about-for-items h1 {
  color: #E15F09;
  width: 95px;
  font-size: 40px;
  border-bottom: 1px solid black;
}
.for-content .about-for-items p {
  font-size: 14px;
}
.for-content .about-for-items h3 {
  font-size: 16px;
  font-weight: 300;
}

.about-main-five {
  height: 600px;
  position: relative;
}

.about-bg {
  width: 100%;
  z-index: -99;
}
.about-bg img {
  height: 800px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -999;
}

/**************SIX****************/
.about-main-six {
  height: 600px;
  background-color: #000;
  color: white;
}
.about-main-six .about-main-six-content {
  display: flex;
  flex-direction: column;
}
.about-main-six .about-main-six-content .top-side {
  width: 50%;
  transform: translateX(150px);
  margin-top: 100px;
  border-left: 1px solid white;
  padding-left: 50px;
}
.about-main-six .about-main-six-content .bottom-side {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.about-main-six .about-main-six-content .bottom-side .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.about-main-six .about-main-six-content .bottom-side .content img {
  width: 8%;
}

.footer-about {
  height: 400px;
}

/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
/*************************************Careers*************************************/
.careers-two {
  height: 600px;
  border-bottom: 1px solid black;
}

.careers-two-content {
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.careers-two-content h1 {
  width: 40%;
  font-size: 64px;
  font-weight: 300;
}
.careers-two-content h4 {
  margin-top: -25px;
  font-weight: 300;
  font-size: 24px;
}

/******************Careers Three********************/
.careers-three-content {
  display: flex;
}
.careers-three-content .left-side {
  height: 700px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.careers-three-content .left-side .left-side-content {
  width: 50%;
  padding-left: 70px;
  transform: translateY(100px);
  border-left: 1px solid black;
}
.careers-three-content .left-side .left-side-content p {
  font-size: 14px;
  font-weight: 300;
}
.careers-three-content .left-side .left-side-content h3 {
  font-size: 24px;
  margin-top: 70px;
  font-weight: 300;
}
.careers-three-content .left-side .left-side-content h4 {
  width: 80%;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.careers-three-content .right-side {
  width: 50%;
}
.careers-three-content .right-side .right-side-bg img {
  width: 52%;
  position: absolute;
  right: 0;
}

/*************************FOR*****************************/
.careers-for {
  margin-top: 100px;
  color: white;
  height: 800px;
  background-color: black;
}

.careers-for-items {
  display: flex;
}
.careers-for-items .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.careers-for-items .left-side .left-side-content {
  border-left: 1px solid white;
  padding-left: 70px;
  width: 50%;
}
.careers-for-items .left-side .left-side-content p {
  font-weight: 300;
  font-size: 14px;
}
.careers-for-items .left-side .left-side-content h2 {
  font-size: 24px;
  font-weight: 300;
}
.careers-for-items .left-side .left-side-content h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.careers-for-items .right-side {
  width: 50%;
  height: 800px;
}
.careers-for-items .right-side .right-side-bg {
  position: relative;
  width: 100%;
  transform: translateX(100px);
}
.careers-for-items .right-side .right-side-bg img {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
}

/**********************FIVE******************/
.careers-five {
  transform: translateY(-30px);
  background-color: #000;
  color: #fff;
  height: 1800px;
}
.careers-five .five-items {
  display: flex;
  flex-wrap: wrap;
  transform: translateX(150px);
  gap: 250px;
}
.careers-five .five-items .five-item {
  border: 1px solid white;
  border-radius: 10px;
  width: 25%;
  padding: 50px;
}
.careers-five .five-items .five-item h2 {
  font-size: 18px;
  padding-bottom: 30px;
}
.careers-five .five-items .five-item p {
  font-size: 14px;
  font-weight: 300;
  color: #B4B4B4;
}
.careers-five .five-items .five-item h3 {
  font-size: 16px;
  font-weight: 300;
  width: 90%;
}
.careers-five .five-items .five-item .main-three-btn {
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  width: 165px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.careers-five .five-items .five-item .main-three-btn a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 20px;
  margin-left: -10px;
  font-size: 20px;
  border-right: 1px solid white;
}

.five-content-last {
  background-color: white;
  color: #000;
  padding: 30px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.five-content-last h1 {
  font-size: 24px;
  font-weight: 300;
  width: 68%;
}
.five-content-last .main-three-btn {
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  width: 165px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.five-content-last .main-three-btn a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 20px;
  margin-left: -10px;
  font-size: 20px;
  border-right: 1px solid black;
}

/************************RESPONSIVE***************************//*# sourceMappingURL=pages.css.map */